.fondo-capas{
    background-image: url("#{resource['img/fondo/puntos-naranjas3.svg']}");
    background-position: center center;
    background-size: 150%;
}
.caja-capas{
    width: 90%;
    height: 800px;
    background-color: #0f7ae5;
    margin-top: 20%;
    margin-bottom: 20px !important;
    -webkit-clip-path: polygon(0 0, 65% 9%, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 65% 9%, 80% 100%, 0% 100%);
}

.posicion-relativa{
    position: relative;
}

.imagen-who{
    width: 22%;
    height: auto;
    position: absolute;
    top:5%;
    right: 8%;
}
.imagen-hamburguesa>img{
    width: 50%;
    position: absolute;
    bottom: 1%;
    left: 1%;

}
.texto-posicion{
    width: 40%;
    background-color: #81b442;
    top: 23%;
    left: 6%;
}
.texto-posicion textarea{
    display: block;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
}