.margen-superior{
    margin: 50px 300px 50px 300px;
    display: flex;
    height: 250px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.contenedor1{
    background: rosybrown;
}

.contenedor2{
    background: orangered;
}

.contenedor3{
    background: yellowgreen;
}

.contenedor4{
    background: rebeccapurple;
}

.contenedor5 {
    background: #F4D03F;
}

.contenedor6 {
    background: blue;
}

.contenedor7 {
    background: red;
}

.contenedor8 {
    background: brown;
}